/*adding responsive patterns 
         breakpoints with media query  and 
         hamburger menu
    
*/
      @media screen and (min-width: 0px) and (max-width: 499px) {
       .nav {
          z-index: 10;
          background-color: #fff;
          width: 300px;
          position: absolute;
          /* This trasform moves the drawer off canvas. */
          -webkit-transform: translate(-300px, 0);
          transform: translate(-300px, 0);
          /* Optionally, we animate the drawer. */
          transition: transform 0.3s ease;
        }
        .nav.open {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
        }
        .nav-item {
          display: list-item;
          border-bottom: 1px solid #E0E0E0;
          width: 100%;
          text-align: left;
        }
        .header-menu {
          display: inline-block;
          position: absolute;
          right: 0;
          padding: 1em;
        }
        .header-menu svg {
          width: 32px;
          fill: #E0E0E0;
        }
      }

      @media screen and (min-width: 550px) {
   
        .header-logo {
            height: 75px;
        }

       .header-title {
            font-size: 4em;
            margin: 0.5em 0.25em;
        }

        .nav-item {
/*            text-transform: capitalize;
*/
        }
        .work-photo{
          order:0;
          width: 100%;
        }

        .work-pm, .work-dev{
            /*order:12;*/
            width: 50%;
        }

      }

      @media screen and (min-width: 800px) {
        body {
          width: 800px;
          margin-right: auto;
          margin-left: auto;            
        }

        .work-pm, .work-dev, .work-photo {
          width: 33.3%;
          order:12;
        }

      }
